/*********** Layout ***********/
.Welcome {
  margin-bottom: 1%;
}
.welcometext {
  text-align: center;
  font-family: "Corben", sans-serif;
  margin-bottom: 30px;
}
.hero_wrapper {
  position: relative;
}
@media (min-width: 800px) {
  .grid_f_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    background-color: #7aa5bf;
    margin-bottom: 5%;
  }
}
.fill {
  background-color: #f2e7dc;
  grid-column: 2/3;
  grid-row: 2/3;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  border: 1px solid black;
  border-radius: 30px;
  height: 100%;
  text-align: center;
}

.fill h1 {
  margin-top: 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  text-align: center;
  color: #405572;
}

.fill p {
  font-size: 20px;
  line-height: 2.5rem;
  color: #405572;
}

.forsideknap {
  display: inline-block;
  background-color: #405572;
  outline: 1px solid black;
  outline-offset: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  border-radius: 100px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.forsideknap a {
  font-family: "Corben", sans-serif;
  color: white;
  text-decoration: none;
}
.forsideknap:hover {
  background-color: #a6bf89;
}
.forsideknap:hover a {
  color: black;
}

.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  position: relative;
  z-index: 1;
}
.slogan {
  display: block;
  width: 70%;
  max-height: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 30px;
}

.knap1forside,
.knap2forside {
  position: absolute;
  z-index: 2;
  object-fit: cover;
  align-self: stretch;
}

.knap1forside {
  top: 69.4%;
  left: 17.5%;
  width: 20%;
}

.knap2forside {
  top: 70%;
  right: 17.5%;
  width: 18.5%;
}

a:hover .knap1forside,
a:hover .knap2forside {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
