/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*************** Fonts **********************/

/*************** Farver og fonte *********************/

/*

A9BF7A
334003
A68F7B
F2E7DC
7AA5BF
3F5573

*/

.ingredients {
  text-align: center;
}

.only {
  padding-left: 4rem;
  padding-top: 2rem;
}

.mytext {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  line-height: 2rem;
}

@media (min-width: 800px) {
  .grid4_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}

#b1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#b2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#b3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#b4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#b5 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#b6 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#b7 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#b8 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#b9 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/********************** Hover-effekt på billederne ***********************/
.flip-container {
  background: transparent;
  margin: 100px auto;
}
/* flip the picture when hover */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back,
img {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* flip speed */

.flipper {
  transition: 1.5s;
  transform-style: preserve-3d;
  position: relative;
}
/* hide back  during flip */

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front placed above back */

.front {
  z-index: 2;
}
/* back, initially hidden */

.back {
  transform: rotateY(180deg);
  background: #a9bf7a;
}
