/********* overskrifter, tekst og padding mm  *********/
.here {
  line-height: 2.5rem;
  font-size: 15px;
  font-family: "Corben", serif;
  color: black;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

.wannaknow {
  padding-top: 6rem;
}

.whychoose {
  padding-top: 3rem;
  padding-bottom: 0.5rem;
}
h3 {
  padding: 1rem;
  font-size: 20px;
}

p {
  line-height: 2.5rem;
  font-size: 20px;
  font-family: "Corben", serif;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.grid_1-1-1-1background {
  background-color: #f2e7dc;
}

.why:hover {
  transform: scale(1.2);
}

/******** desktop version  **********/

@media (min-width: 800px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .grid_1-1-1-1 img {
    object-fit: cover;
    align-self: stretch;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 3rem;
  }

  .grid_1-1-1-1 h3 {
    margin-bottom: 7rem;
  }

  .grid_1-1 img {
    object-fit: cover;
    align-self: stretch;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

/************ mobilversion  ***********/
@media (max-width: 800px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .grid_1-1-1-1 img {
    padding: 2rem;
    object-fit: cover;
    align-self: stretch;
  }

  .grid_1-1 img {
    object-fit: cover;
    align-self: stretch;
  }
  h3 {
    padding: 2rem;
  }
  p {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 17px;
  }
  .a {
    font-size: 13px;
  }
  h2 {
    font-size: 29px;
  }
}
/********* call **********/
.knap {
  width: 120px;
  margin: auto;
  background-color: #405572;
  outline: 1px solid black;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 30px;
  border-radius: 100px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.knap a {
  font-family: "Corben", sans-serif;
  color: white;
  text-decoration: none;
}
.knap:hover {
  background-color: #a6bf89;
}
.knap:hover a {
  color: black;
}
